body
{
    font-size: 14;
    font-family: 'Times New Roman', Arial;
    font-weight: bold;
    text-decoration: none;
}

table, td, tr {
    border-collapse: collapse;
    border: none;
    outline: none;
}

.arrangeHorizontal
{
    flex-direction: row;
}

.arrangeVertically
{
    display: flex;
    flex-direction: column;
}
.addBottomLeftCurve
{
    border-bottom-left-radius: 15px;
    overflow: hidden;
}
.addBottomRightCurve
{
    border-bottom-right-radius: 15px;
    overflow: hidden;
}
.addTopLeftCurve
{
    border-top-left-radius: 15px;
    overflow: hidden;
}
.addTopRightCurve
{
    border-top-right-radius: 15px;
    overflow: hidden;
}

.displayShadow
{
    box-shadow: 15px 15px 15px rgba(5, 5, 5, 0.5);
}
.myFacts
{
    list-style-type: lower-roman;
}

.add
{
    display: none;
    position: absolute;
    top: 150px;
    left: 40vw;
}
.borrow
{
    display: none;
    position: absolute;
    top: 150px;
    left: 40vw;
}
.returnItems
{
    display: none;
    position: absolute;
    top: 150px;
    left: 40vw;
}
.overdue
{
    display: none;
    position: absolute;
    top: 150px;
    left: 40vw;
}
table.output, td.output, tr.output
{
    border: solid 1px white;
    border-collapse: collapsed;
    color: white;
}

.edit
{
    display: none;
    position: absolute;
    top: 150px;
    left: 40vw;
}
.alignInSearchBar
{
    position: absolute;
    top: 95px;
    left: 68.8vw;
    z-index: 2;
}
.leftNav:hover{
    cursor: pointer;
}

.addBorderCurve{
    border-radius: 10px;
}

.alignIconHome
{
    padding-left: calc(97.5vw - 50vw);
}
.alignIconHomeResults
{
    margin-left: calc(97.5vw - 50vw - 7vw - 20px);
}


.tablink:hover
{
    background-color: orange;
    color: white;
    cursor: pointer;
}
.tablinkSearchBar:hover
{
    background-color: black;
}

.tablinkProfile:hover
{
    background-color: black;
}

