
.avatarMoveLeft {
animation: avatarMoveLeftAnim 1.2s forwards;
}

@keyframes avatarMoveLeftAnim{
from{
transform: translateX(5vw);
} to {
transform: translateX(10vw);
}
}

.avatarMoveRight {
animation: avatarMoveRightAnim 1.2s forwards;
}

@keyframes avatarMoveRightAnim{
from {
transform: translateX(10vw);
} to {
transform: translateX(5vw);
}
}

.avatarJump {
animation: avatarJumpAnim 1.2s forwards;
}

@keyframes avatarJumpAnim{
from{
transform: translateY(5vh);
} to{
transform: translateY(10vh);
}

}

