.container
{
  
  display: flex;

  flex-direction: row; 


  padding: 4vw;
  width: 80vw;
  height: 80vh;
  background-color: #96cc39;
  border-radius: 2vw;
}

.hide
{

  display: none;
}

.card
{
  width: 30vw;  
  margin: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;


  height: 30vh;
  box-shadow: 2vw 2vw 2vw rgba(0,0,0,0.5);
  background-color: #c0ec83;
  border-radius: 2vw;
}


